.big-photo {
    width: 100%;
    height: 72vh;
    text-align: center;
    background-image: url(https://lh3.googleusercontent.com/aLzsmKAwprN-vSMJ0rc4m9Nbu_BrPWcn-2m4gMVrgFt5F4kEPpOWWnrbOhhPb03e3AyZqZAdZRuQbhxjuFmLM5-5cnV3hRvIVmGg7fVJCuw9gZ-fos_dD4AJ7PWxWLbHekacCLHkaJ1JKMiDehggRAkklyo50A64v4o4be0LL8IeqICSgVCfkXP__R-Ziuv0taHLoGzbDk0y3MfDYoc_swJE0eqh5gpYrNUdOy5bn6rawA5_yyYi3K7GnFOT8o6Sil9tWD7URzDHeQUvvH2mNepxoSCzcV1LK_eSaybMxURREjeKnRQQbthth2ouFWDfJrWsaHRMkHURuiLJ_zrrptSLDsvXRtgF4fuBGSi5M6YYWvGrWLSP0QpIZG-EIhISCl8w1k84oJHmnOe74wbW92w1TY_VpK9_PmLis3IX9kgyJY6ppffW9IyIrzyJAtd2k36yZhMkCaUZWu_aUhzKHoYiKgjuzlpT8rDR1QnQoKMoysuTt0rvAs2xqmVM0wXjV9elTNtg4nRkTtjZRDVXeBzG2cvMRCvqvq9tOnzQ-Tyu4OdSzE9IfjVR_vYnHjK-kXQoriezvX__F1R2-s-mUykG_tARf6-LQnzd-D1c=w2901-h1813-no);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-show-content {
    width: 100%;
    display: flex;
    color: rgb(72, 72, 72) !important;
    padding: 25px 0 0 0;
    .home-show-left {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 55%;

        .home-show-details {
            display: block;
            width: 65%;

            .quick-info {
                display: flex;

                .name-city-left {
                    width: 85%;
                }

                .host-photo-container {
                    width: 15%;
                    display: flex;
                    justify-content: flex-end;
                    padding: 7px 5px 0 0;

                    .host-photo {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-image: url(https://lh3.googleusercontent.com/9PdC63eGKjJ0L6qr1qQzvglwxHF8buR9dRerfm3bmsKSsuSmtHEYoKI3L0acYW6JTVshVM00z8iFbGsKp986_kfFfJVil4t3qqacx4Vdo10ACQW8D8DdYev6vNZM-HZIzBppCEcxPfSOWaclkAkgqMWlP3JrX2M9S8pxMCoWZxZL6IqKMn5HAEqpyOURBKxuTZT7YtTRNnTbx8owxEmC0gKA0Cx1kW9hDO1JhKJd65OqTXtHw56Ah8TzSinE1MNX6MrIiO2UrpvmJq-yN9sZVspQFWk_HsW2P-tC8LQ7gnFhIkSqGWeJy7wiqnX6NWbs7IHJYmvvWWeVMLXzZZEgfzHEbTMVknfNtCIao8CWge4N11HkrVuyIi3_6sK9pJBNLXTiD-GxTXEyjAcy0BKwFxVI2HW-pa5UYV63X5_ke_yyqi1rxHY8-tu9L3HsXPq6yMphog-Xgn9nBPI5b9jjFVxY5ff28oSsBwjQG6Ra6EgFVoHhx_hhTptLKDF1iLtsDyhNgoaVZU6e13Q0HUpITh48fVemXP8HeXVp9uKvotgkFBziYVEN5B4FQHctz9MNBCT50Q2puX7g1Koh1evrB5ByjobSbiQUx26EpaKB=s883-no);
                    }
                }
            }
            .home-show-title {
                font-size: 30px;
                font-weight: 600;
                padding-bottom: 8px;
            }
            .home-show-info {
                display: flex;
                padding: 0 0 0 0;
                div {
                    padding: 10px 8px 20px 0;
                }
                span {
                    padding: 0 6px 0 0;
                }
            }
            .home-show-description {
                padding: 20px 0 20px 0;
                margin-bottom: 20px;
                line-height: 21px;
                border-bottom: 1px solid #EBEBEB;

                .read-more, .contact-host {
                    padding: 30px 0 0 0;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 500;
                    color: #008489 !important;

                    i {
                        font-size: 12px;
                    }
                }
            }
        }
        .home-show-map {
            display: block;
            width: 65%;
            #map-container {
                display: flex;
                width: 100%;
                height: 40vh;
            }

            div {
                border: none;
            }
        }
    }
    .home-show-right {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        // margin: 0 0 0 80px;
        height: 50vh;

        .reservation-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            height: 47vh;
            border: 1px solid #EBEBEB;
            margin: 0 0 0 54px;

            .price-container {
                height: 40px;
                width: 85%;
                padding: 20px 0 24px 0;
                border-bottom: 1px solid #EBEBEB;
                .price {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    padding: 0 0 8px 0;

                    .value {
                        font-size: 24px;
                        font-weight: 800;
                    }

                    .word {
                        font-size: 12px;
                        font-weight: 500;
                        padding: 0 0 1px 0;
                        // vertical-align: bottom;
                    }
                }

                .stars {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 11px;
                    color: #008489 !important;

                    .review-count {
                        color: rgb(72, 72, 72);
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .date-container {
                padding: 20px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 85%;

                .date-label {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 12px;
                    font-weight: 600;
                    color: #484848 !important;
                }

                .calendar-input {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 6px 0 0 0;

                    input[type="date"]::-webkit-clear-button {
                        display: none;
                    }

                    input[type="date"]::-webkit-inner-spin-button {
                        display: none;
                    }

                    input[type="date"]::-webkit-calendar-picker-indicator {
                        color: #2c3e50;
                    }

                    input[type="date"] {
                        width: 46%;
                        height: 34px;
                        appearance: none;
                        -webkit-appearance: none;
                        color: #ffffff;
                        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-size: 18px;
                        color: #484848;
                        border: 1px solid #ecf0f1;
                        background: #ffffff;
                        padding: 5px 5px 0 5px;
                        display: inline-block !important;
                        visibility: visible !important;
                    }

                    input[type="date"],
                    focus {
                        color: #757575 !important;
                        box-shadow: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                    }
                }
            }

            .guest-container {
                padding: 20px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 85%;
                .guest-label {
                    padding: 0 0 6px 0;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 12px;
                    font-weight: 600;
                    color: #484848 !important;
                }
                .guest-input {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 0 0 0;
                    border: 1px solid #EBEBEB;

                    select {
                        width: 100%;
                        -webkit-appearance: menulist-button;
                        height: 34px;
                        color: #ffffff;
                        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-size: 18px;
                        color: #484848;
                        border: none;
                        background: #ffffff;
                        display: inline-block !important;
                        visibility: visible !important;
                    }

                    select,
                    focus {
                        
                        color: #757575 !important;
                        box-shadow: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                    }
                }
            }

            .button-container {
                padding: 25px 0 0 0;
                width: 85%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                button {
                    cursor: pointer !important;
                    display: inline-block !important;
                    margin: 0px !important;
                    position: relative !important;
                    text-align: center !important;
                    text-decoration: none !important;
                    -webkit-transition-property: background,
                    border-color,
                    color !important;
                    -moz-transition-property: background,
                    border-color,
                    color !important;
                    transition-property: background,
                    border-color,
                    color !important;
                    -webkit-transition-duration: 0.2s !important;
                    transition-duration: 0.2s !important;
                    -webkit-transition-timing-function: ease-out !important;
                    transition-timing-function: ease-out !important;
                    border-radius: 4px !important;
                    width: 100% !important;
                    font-size: 16px !important;
                    line-height: 22px !important;
                    letter-spacing: normal !important;
                    font-family: Circular,
                    -apple-system,
                    BlinkMacSystemFont,
                    Roboto,
                    Helvetica Neue,
                    sans-serif !important;
                    text-transform: undefined !important;
                    padding-top: 12px !important;
                    padding-bottom: 12px !important;
                    font-weight: 800 !important;
                    border-width: 2px !important;
                    border-style: solid !important;
                    padding-left: 24px !important;
                    padding-right: 24px !important;
                    min-width: 77.66563145999496px !important;
                    box-shadow: none !important;
                    background: #FF5A5F !important;
                    border-color: transparent !important;
                    color: #ffffff !important;
                }
            }
            .additional-info {
                width: 85%;
                padding: 0 0 10px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
                .notice {
                    text-align: center;
                    width: 100%;
                    padding: 15px 0 25px 0;
                    font-size: 11px;
                    font-weight: 500;
                    border-bottom: 1px solid #EBEBEB;
                }

                .disclaimer-1 {
                    text-align: center;
                    width: 100%;
                    padding: 15px 0 5px 0;
                    font-size: 14px;
                    font-weight: 500;
                }

                .disclaimer-2 {
                    text-align: center;
                    width: 100%;
                    padding: 15px 0 5px 0;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    div {
        // border: 1px solid green;
    }
}