#map-container {
    width: 100%;
    height: 87vh;
}

.user-pane {
    display: flex;
    padding: 0 13px 13px 13px;
}

.left-half {
    width: 66%;
    height: 100vh;
    overflow: scroll;
}

.right-half {
    padding: 20px 0 0 0;
    width: 33%;
}

.home-number {
    font-size: 24px;
    color: rgb(72, 72, 72) !important;
    font-weight: 600;
    padding: 18px 0 15px 12px;
}

.home-index-item {
    width: 31%;
    height: 35vh;
    margin: 10px;
    background-color: white;
    cursor: pointer;
}

.home-index-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}

.home-index-photo {
    height: 65%;
    width: 100%;
    background-image: url(https://lh3.googleusercontent.com/WtlELhxYel8UJ_A32pHSP4gjC3O6n1ze0Ikwm4ptFHZUmrB2zr4fZv39H6tiru_3q7Ma8SzrMu6rA2VkNzgpJZFGsvlcPJ-bWQqbMgmM-Ap5IqwvOYzV3WrWtQhHo7Xhdi3WnWv7uqCxgQXnnQHo_a0u-757fl27gqxqOkH35_mt1qiF92z1-jH1Q6oPp9e-XcIL5n1NEjuvI-Y-LoPbXzRRGRaBDafejoEiv6Q3I59_M_8xIx5G_PM0jLPH1yj6RXeQ0dTlquoWZBb6Y1NUWspqKtN8qXqpDmdo6Jf838ro1TTp2vpAjTCbiIAD4c-wouTdWkCeDDpkOPb8FogLRbicHZty4xAnOA9Z70_W1eVHDc147QPHbyzeIpk-U-HADmmy6zEkT605zOT6xhorD5HnncsNK2PA7n764yTdjqh423RbyVtQJPcCb6l8h17oPbGidqkM72u7PpUMIPTPn3PeSs2Kvt2c6duIaLd4EnE7IuKTReeFIj8HwVAr03Y0oVBaQWLKJasha_HgyUQX3zdyDSbXWbfAj-7QrlnBNTu4snMz8gbngFJs95y86ggbu4uO2DhBfpvMzQVaOiHTLJQM6dEcB9_6w6NFgY6W=w2440-h1952-no);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;

    &:hover {
        opacity: .8;
    }
}

.home-index-details {
    display: block;
    color: rgb(72, 72, 72) !important;
    h1 {
        font-weight: 500;
    }

    .home-index-rooms {
        color: rgb(52, 30, 19);
        font-size: 12px;
        font-weight: 800;
        line-height: 16px !important;
        letter-spacing: normal !important;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .home-index-name {
        font-size: 16px !important;
        line-height: 22px !important;
        letter-spacing: normal !important;
        font-weight: 800 !important;
        margin: 0 0 3px 0;
    }

    .home-index-price {
        font-size: 14px !important;
        line-height: 18px !important;
        letter-spacing: normal !important;
        margin: 0 0 5px 0;
    }

    .stars {
        font-size: 10px;
    }
}


