.home-searchbar {
    display: block;
    text-align: center;
    margin: auto;
    height: 100vh;
    width: 60%;
    padding: 280px 0;
    color: white;
}

.search-slogan {
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif !important;
    color: rgb(255, 255, 255) !important;
    font-size: 3em;
    font-weight: 650;
    margin-bottom: 28px;
    text-align: left;
}

.search-container {
    margin: auto;
    width: 100% !important;
    z-index: 1 !important;
    box-shadow: 0 15px 46px rgba(26, 26, 29, 0.3), 0 15px 90px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.search-container input::placeholder {
    font-size: 1em;
    font-weight: 700;
    color: rgb(153, 153, 153)
}

.search-container input {
    font-size: 22px !important;
    font-weight: 700;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif !important;
    color: rgb(72, 72, 72) !important;
    width: 100% !important;
    height: 72px;
    border: none;
    padding: 11px !important;
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
    margin: auto;
    background-color: white;
}

.search-container input:focus {
    outline-width: 0;
}