.navbar {
    display: flex;
    justify-content: space-between;
    font-family: Circular,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

.navbar ul {
    display: table;
    height: 64px !important;
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.navbar li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-left: 19px;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar li button {
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 500;

}

.navbar li:last-child {
    margin-right: 20px;
}

svg {
    padding: 20px;
    height: 2.5em;
    width: 2.5em;
    display: block;
    fill: rgb(255, 255, 255);
    transform: rotate(-90deg);
}