body { 
    font-family: Circular,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.home-page {
    /* Full height */
    height:100vh;
    width:100%;
    overflow:hidden;
    /* Center and scale the image nicely */
    background-image: url(https://s15.postimg.cc/7rjm06sop/architecture-buildings-city-842948-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(20%);
}